* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2b2f31;
    position: relative;
    height: 70px;
}

.logo {
    color: #fff;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #2b2f31;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 0;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }

    img {
        width: 200px !important;
    }

    .tengah {
        margin-top: 10px;
        text-align: center;
    }
}

nav a:hover,
nav a.active {
    color: rgb(194, 51, 51);
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#home {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg.jpg);
    display: flex;
    color: white;
    background-attachment: fixed;
}

.N-edu,
.N-exp,
.N-skil {
    cursor: pointer;
}

.custom-shape-divider-bottom-1711448800 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1711448800 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1711448800 .shape-fill {
    fill: #FFFFFF;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

section {
    min-height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #1f242d;
}

section:nth-child(odd) {
    background: #ffffff;
}
footer{
    background: #2b2f31;
}